@font-face {
  font-family: "Motorway Permanent";
  src: url("/data/Motorway Permanent.ttf");
}

@font-face {
  font-family: "Transport Medium";
  src: url("/data/Transport Medium.ttf");
}

:root {
  --body: hsl(0, 0%, 82%);
  --top-section: hsl(0, 0%, 90%);
  --text: hsl(0, 0%, 23%);
  --header: hsl(220, 84%, 34%);
  --header-nav: hsl(0, 0%, 80%);
  --lighter: hsl(0, 0%, 95%);
  --link: #0e3ea0;

  --a-road: #134A22;
  --a-road-text: #f8ae25;
  --highlight: #ffff88;
  --date-highlight: #ffee00;

  --motorway: #004A9D;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--body);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: var(--lighter);
  font-size: 1.5rem;
}

label {
  font-size: 1.2rem;
}

header.header {
  align-items: center;
  background: var(--header);
  display: flex;
  justify-content: space-between;
  height: 2.4rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%
}

header.header h1 {
  flex: 1;
}

nav {
  align-items: center;
  display: flex;
  flex: 4;
  justify-content: space-between;
}

nav a {
  color: var(--header-nav);
  font-size: 0.9rem;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 4px;
}

nav a:hover {
  color: var(--lighter);
}

.container {
  margin: 3rem auto;
  max-width: 1100px;
  padding: 0 1rem;
}

.centred {
  text-align: center;
}

.top-section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 20rem;
  margin-bottom: 1rem;
}

.introduction {
  background: var(--top-section);
  border: 2px solid white;
  padding: 0 1rem;
}

.selection-panel {
  background: var(--top-section);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: space-between;
  padding: 1rem;
}

.selection-panel select,
.selection-panel input[type="search"] {
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  width: 100%;
}

article {
  background: var(--motorway);  /* Assume a motorway */
  border: 5px solid white;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  white-space: pre-line;
}

article header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

article h2 {
  font-family: "Motorway Permanent", sans-serif;
  font-size: 1.2rem;
}

article.a-road {
  background: var(--a-road);
}

article.a-road h2 {
  color: var(--a-road-text);
  font-family: "Transport Medium", sans-serif;
  font-size: 1.4rem;
}

article span.duration-extra {
  font-size: 0.9em;
  color: var(--date-highlight);
}

.map-button {
  margin-left: 1em;
}

#map {
  height: 100%;
  width: 100%;
}

.pointer {
  color: black;
  font-size: 24px;
}


/* Media Queries */

@media (max-width: 900px) {
  article header {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
